
.footer {
    background-color: #1d2125 !important; /* Footer background color */
    padding: 13px 0;
    color: white;
  }
  
  
  .footer-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    max-width: 181px;
    margin: 0 auto;
    text-align: center;
   
  }
  
  .footer-info h3 {
    margin: 0;
    font-size: 24px;
  }
  
  .title {
    font-size: 18px;
  }
  
  .contact {
    font-size: 14px;
    margin-top: 10px;
  }
  
  .footer-links ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
  }
  
  .footer-links ul li {
    margin-right: 20px;
  }
  
  .footer-links a {
    color: white;
    text-decoration: none;
    font-size: 35px;
    transition: color 0.3s;
  }
  
  .footer-links a:hover {
    color: #00bcd4; /* Adjust if needed */
  }
  
  .footer-icons {
    margin-top: 20px;
  }
  
  .footer-icons a {
    color: white;
    margin: 0 10px;
    font-size: 24px;
    transition: color 0.3s;
  }
  
  .footer-icons a:hover {
    color: #00bcd4; /* Adjust if needed */
  }
  
  .footer-copyright {
    background-color: #1F2937; /* Copyright background color */
    padding: 10px 0;
    font-size: 14px;
    text-align: center;
    color: white;
  }
  .footer {
    flex-shrink: 0;
  }
  